.git/
**/.gitignore
.github/
**/.terraform
**/.vs
**/.vscode
**/*.zip
docker/
!docker/*.exe
!docker/*.cmd
!docker/*.sh
!docker/*.pem
outputs/
marketplace/
src/.build-trigger
src/.editorconfig
src/integrationtests-*
**/*.user
**/bin/
**/obj/
**/PublishProfiles/
