.git/
**/.gitignore
.github/
**/.terraform
**/.vs
**/.vscode
**/*.zip
docker/
outputs/
marketplace/
src/.build-trigger
src/.editorconfig
src/integrationtests-*
**/*.user
**/bin/
**/obj/
**/PublishProfiles/
