{
    "subscription": "${SubscriptionID}",
    "client": "${ClientID}",
    "password": "${Password}",
    "tenant": "${TenantID}",
    "location": "${Location}",
    "resourceGroup": "${ResourceGroup}",
    "uniqueSuffix": "",
    "devopsUrl": "${DevOpsUrl}",
    "pat": "${PAT}",
    "projectName": "${ProjectName}",
    "runtimeSourceUrl": "${RuntimeSourceUrl}"
  }
  